
.btn-outline-warm {
    color: #f8872c;
    border-color: #f8872c;
}
.btn-outline-warm:hover {
    color: #fff;
    background-color: #f8872c;
    border-color: #f8872c;
}
.btn-check:focus + .btn-outline-warm, .btn-outline-warm:focus {
    box-shadow: 0 0 0 0.25rem rgba(213, 96, 16, 0.5);
}
.btn-check:checked + .btn-outline-warm, .btn-check:active + .btn-outline-warm, .btn-outline-warm:active, .btn-outline-warm.active, .btn-outline-warm.dropdown-toggle.show {
    color: #fff;
    background-color: #f8872c;
    border-color: #f8872c;
}
.btn-check:checked + .btn-outline-warm:focus, .btn-check:active + .btn-outline-warm:focus, .btn-outline-warm:active:focus, .btn-outline-warm.active:focus, .btn-outline-warm.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(213, 96, 16, 0.5);

}
.btn-outline-warm:disabled, .btn-outline-warm.disabled {
    color: #f8872c;
    background-color: transparent;
}

.btn-outline-cold{
    color: #48baff;
    border-color: #48baff;
}
.btn-outline-cold:hover {
    color: #fff;
    background-color: #48baff;
    border-color: #48baff;
}
.btn-check:focus + .btn-outline-cold, .btn-outline-cold:focus {
    box-shadow: 0 0 0 0.25rem rgba(16, 124, 213, 0.5);
}
.btn-check:checked + .btn-outline-cold, .btn-check:active + .btn-outline-cold, .btn-outline-cold:active, .btn-outline-cold.active, .btn-outline-cold.dropdown-toggle.show {
    color: #fff;
    background-color: #48baff;
    border-color: #48baff;
}
.btn-check:checked + .btn-outline-cold:focus, .btn-check:active + .btn-outline-cold:focus, .btn-outline-cold:active:focus, .btn-outline-cold.active:focus, .btn-outline-cold.dropdown-toggle.show:focus {
    box-shadow: 0 0 0 0.25rem rgba(16, 124, 213, 0.5);

}
.btn-outline-cold:disabled, .btn-outline-cold.disabled {
    color: #48baff;
    background-color: transparent;
}

:root {
    --offcanvas-width: 276px;
    --topNavbarHeight: 55px;
}
//.menu-hover {
//    color: #000000;
//}
.menu-hover:hover {
    color: #000000;
}
.sidebar-nav {
    width: var(--offcanvas-width);
    transform:none;
    visibility: visible !important;
    top: var(--topNavbarHeight);
    height: calc(100% - var(--topNavbarHeight));
}

//.sidebar-nav{
//    width: var(--offcanvas-width);
//    top:var(--topNavbarHeight);
//    height: calc(100% - var(--topNavbarHeight));
//}

@media (min-width: 992px){
    .sidebar-nav{
        transform:none;
        visibility: visible !important;
    }
}


/*increase decrease button for individual goods quantity*/

.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
}

form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
}

input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#description {
    color:grey;
}

#variety_select{
    width:150px;
    margin-left: 10px;
    text-align: center;
}

#AddtoCart{
    width:150px;
    margin-left: 10px;
    text-align: center;
    float: right;
}

