:root {
    --offcanvas-width: 250px;
}
.menu-hover:hover {
    color: #000000;
}
.sidebar-nav{
    width: var(--offcanvas-width);
}

@media (min-width: 992px){
    .sidebar-nav{
        transform:none;
        visibility: visible !important;
    }
}
